*{padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
//Cores:
$corPrimaria: #ee6e73;
body{background-color: $corPrimaria;}

//Tabuleiro:
.title{
    background-color: #333;
    padding: 10px;border-radius: 5px;
}

#mostrador{width: 252px;
    height: 80px;
    margin: 50px auto;}

.espaco{
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    float: left;
    text-align: center;
    padding-top: 20px;
    img{width: 40px;height: 40px;}
}

.tabuleiro{margin: 40px auto;
    width: 252px;height: 252px;
}

.reset{margin: 20px auto;}